[build]
  base = "frontend"
  publish = "dist"
  command = "npm ci && npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  VITE_USE_EMULATORS = "false"
  # Set these in Netlify UI
  # VITE_SUPABASE_URL = ""
  # VITE_SUPABASE_ANON_KEY = ""


